
:root {

    /* colors */
    --color-primary: #f44336;
    --color-primary-light: #ff7961;
    --color-blue-fire: #0d47a1;
    --color-blue-fire-light: #5472d3;
    --color-neutral-fire: #f7e2c3;

    --color-off: #9b9b9b;
    --color-body-dark: #262731;

    --color-primary-dark-mode: #9e36f4;
    --color-primary-light-dark-mode: #c158ff;
    --color-blue-fire-dark-mode: #0d47a1;
    --color-blue-fire-light-dark-mode: #5472d3;
    --color-neutral-fire-dark-mode: #f7e2c3;
}


/* trying something out with flexbox */
/* oh this is good!! */
* {
  min-width: 0;
}


/* testing something out */
/* .old {
  border : 3px solid var(--color-primary-dark-mode);
}

.new {
  border : 3px solid var(--color-primary);
} */



/* From https://css-loaders.com/ */
/* HTML: <div class="loader"></div> */
.loader,
.loader:before,
.loader:after{
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset var(--color-primary);
  position: relative;
  animation: 3s infinite 0.5s;
  animation-name: l7-1,l7-2;
}
.loader:before,
.loader:after{
  content: "";
  position: absolute;
  left: calc(100% + 5px);
  animation-delay: 2s,0s;
}
.loader:after{
  left: -40px;
  animation-delay: 0s,2s;
}
@keyframes l7-1 {
  0%,55%,100%  {border-top-left-radius:0;  border-bottom-right-radius:0}
  20%,30%      {border-top-left-radius:50%;border-bottom-right-radius:50%}
}
@keyframes l7-2 {
  0%,55%,100%  {border-bottom-left-radius:0;  border-top-right-radius:0}
  20%,30%      {border-bottom-left-radius:50%;border-top-right-radius:50%}
}

.loader.dark,
.loader.dark:before,
.loader.dark:after {
  box-shadow: 0 0 0 3px inset var(--color-primary-dark-mode);
}

@media (max-width: 1200px) {
 .loader {
  display: none;
 }
}

header {
  background-color: rgba(255, 255, 255, 0.274);
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(4px);
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-body-dark);
}

p.dark {
  color: var(--color-neutral-fire);
}

.header-name {
    background: linear-gradient(to right, var(--color-primary), var(--color-primary-light), var(--color-neutral-fire), var(--color-blue-fire-light), var(--color-blue-fire), var(--color-primary), var(--color-primary-light), var(--color-neutral-fire), var(--color-blue-fire-light), var(--color-blue-fire), var(--color-primary));
    color: transparent;
    background-size: 200% auto;
    background-clip: text;
    animation: animateBackground 30s linear infinite;
}

.header-name.dark {
    background: linear-gradient(to right, var(--color-primary-dark-mode), var(--color-primary-light-dark-mode), var(--color-neutral-fire-dark-mode), var(--color-blue-fire-light-dark-mode), var(--color-blue-fire-dark-mode), var(--color-primary-dark-mode), var(--color-primary-light-dark-mode), var(--color-neutral-fire-dark-mode), var(--color-blue-fire-light-dark-mode), var(--color-blue-fire-dark-mode), var(--color-primary-dark-mode));
    color: transparent;
    background-size: 200% auto;
    background-clip: text;
    animation: animateBackground 30s linear infinite;
}

@keyframes animateBackground {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}


.bi-toggle2-on {
  transform: rotate(-90deg);
}

.nav-link.dark {
  color: var(--color-neutral-fire) !important;
}

.nav-link.active.dark {
  background-color: var(--color-primary-dark-mode) !important;
}

.sun {
  color: var(--color-primary);
}

.sun.dark {
  color: var(--color-off);
}

.dark-mode-toggle {
  color: var(--color-primary);
  cursor: pointer;
}

.dark-mode-toggle.dark {
  color: var(--color-primary-dark-mode);
}

.moon{
  color: var(--color-off);
}

.moon.dark {
  color: var(--color-primary-dark-mode);
}

.social.dark {
  color: var(--color-primary-dark-mode);
}


.filler-1 {
  height: 10rem;
}

.filler-2 {
  height: 15rem;
}

.filler-3 {
  height: 20rem;
}

.filler-4 {
  height: 25rem;
}

.filler-5 {
  height: 30rem;
}

.filler-5 {
 display: grid;
 place-items: center;
}


.preview {
  height: 20rem;
  width: 35rem;
  border: solid .3rem var(--color-off);
  border-radius: .5rem;
}

.preview.dark {
  border: solid .3rem var(--color-primary-light-dark-mode);
}

.description-container {
  display: grid;
  place-items: center;
}




.background-object{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
 border: solid .5rem var(--color-primary);
 filter: blur(3px);
 z-index: -2;
 position: relative;
 right: 5rem;
}


.background-object.html::before {
  top: 6rem;
  left: 11rem;
  display: grid;
  place-items: center;
  content: "button";
  position: absolute;
  height: 14rem;
  width: 11rem;
  border: inherit;
  box-shadow: inherit;
  filter: blur(3px);
  z-index: -2;
}

.background-object.html::after {
  top: -3rem;
  left: 12rem;
  display: grid;
  place-items: center;
  content: "div";
  position: absolute;
  height: 6rem;
  width: 12rem;
  border: inherit;
  filter: blur(3px);
  z-index: -2;
  box-shadow: inherit;
}



.background-object.css::before {
  top: 9rem;
  left: 11rem;
  display: grid;
  place-items: center;
  content: "bootstrap";
  position: absolute;
  height: 4rem;
  width: 13rem;
  border: inherit;
  box-shadow: inherit;
  filter: blur(3px);
  z-index: -2;
}

.background-object.css::after {
  top: -3rem;
  left: 12rem;
  display: grid;
  place-items: center;
  content: "flexbox";
  position: absolute;
  height: 9rem;
  width: 10rem;
  border: inherit;
  filter: blur(3px);
  z-index: -2;
  box-shadow: inherit;
}

.background-object.js {
  right: 0;
  left: 3rem;
  width: 14rem;
  height: 14rem;
}

.background-object.js::before {
  bottom: 7rem;
  right: 15rem;
  display: grid;
  place-items: center;
  content: "React";
  position: absolute;
  height: 8rem;
  width: 13rem;
  border: inherit;
  box-shadow: inherit;
  filter: blur(3px);
  z-index: -2;
}

.background-object.js::after {
  top: 8rem;
  right: 16rem;
  display: grid;
  place-items: center;
  content: "jQuery";
  position: absolute;
  height: 9rem;
  width: 10rem;
  border: inherit;
  filter: blur(3px);
  z-index: -2;
  box-shadow: inherit;
}

.background-object.dark {
  border: solid .5rem var(--color-primary-dark-mode) !important;
  box-shadow: 0 0 10px #9e36f4, 0 0 20px #e3c5fc, 0 0 30px #ca8ffa, 0 0 30px #af54fa;
  color: var(--color-neutral-fire);
}

@keyframes animate-letter-dark {
  0% {
    opacity: 100%;
  }

  30% {
    opacity: 100%;
  }

  35% {
    opacity: 90%;
  }

  40% {
    opacity: 50%;
  }

  45% {
    opacity: 90%;
  }

  47% {
    opacity: 20%;
  }

  49% {
    opacity: 80%;
  }

  52% {
    opacity: 20%;
  }

  59% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }

}

.animate-letter.dark {
  animation-name: animate-letter-dark;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}



.large-video {
  height: 30rem;
  width: 50rem;
  border: solid .3rem var(--color-off);
  border-radius: .5rem;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
}

body.dark {
  background-color: var(--color-body-dark);
}


  